<!DOCTYPE html>
<html>
   <head>
      <title>UM - Hacker Phone</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
      <link rel="stylesheet" href="assets/css/style.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.39/vue.global.prod.min.js"></script>
   </head>
   <body>
      <div class="main">
         <div class="phone-frame animate__animated":class="{animate__fadeInUp: phoneanim, animate__fadeOutDown: !phoneanim}" v-show ="togglephone">
            <div class="phone-screen" :class="{active: togglelock}">
               <div class="imageContainer">
                  <img class="image" src="assets/img/bg.png" v-show ="!togglelock"/>
                  <div class="custom">
                     <div class="notify">{{title}}</div>
                     <div class="erroricon animate__animated animate__heartBeat" v-show="error"><i class="fa-solid" :class="erroricon"></i></div>
                     <div v-show="upage">
                        <div class="list-item" v-if="ubool" v-for="item in userlists">
                           <div class="item" :id="item.targetphone" @click="generalButton('toggle', item.targetname)">
                              <div class="itemname">
                                 <h3><i class="fa-regular fa-id-card"></i> {{item.targetlastname}} {{item.targetname}}</h3>
                              </div>
                              <div :id="item.targetname" class="carinfolist" style="display: none;">
                                 <ul>
                                    <li>{{lang.lastname}}<span id="lastname">{{item.targetlastname}}</span></li>
                                    <li>{{lang.firstname}}<span id="name">{{item.targetname}}</span></li>
                                    <li>{{lang.dob}}<span id="dob">{{item.targetdob}}</span></li>
                                    <li>{{lang.bankmoney}}<span id="bankmoney">{{item.targetbank}}</span></li>
                                    <li>{{lang.number}} <span id="phonenumber">{{item.targetphone}}</span></li>
                                 </ul>
                                 <button @click="generalButton('delete', item.targetphone)"><i class="fa-solid fa-trash-can"></i> {{lang.delete}}</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div v-show="vpage">
                        <div class="list-item" v-if="vbool" v-for="item in carlists">
                           <div class="item" :id="item.trackerid" @click="generalButton('toggle',item.vehicleinfoplate)">
                              <div class="itemname">
                                 <h3><i class="fa-solid fa-location-crosshairs"></i> {{item.trackerid}}</h3>
                              </div>
                              <div :id="item.vehicleinfoplate" class="carinfolist" style="display: none;">
                                 <ul>
                                    <li>{{lang.plate}} <span>{{item.vehicleinfoplate}}</span></li>
                                    <li>{{lang.model}} <span>{{item.vehicleinfoname}}</span></li>
                                    <li>{{lang.engine}}<span>{{item.vehicleinfoengine}}</span></li>
                                 </ul>
                                 <button @click="vehicleExplosion('um-hackerphone:broken:vehicle', item.vehicle, item.trackerid)"><i class="fa-solid fa-burst"></i> {{lang.explosion}}</button>
                                 <button @click="generalButton('delete', item.trackerid)"><i class="fa-solid fa-ban"></i> {{lang.disabletracker}}</button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div v-show="cpage">
                        <div class="list-item" v-if="cbool">
                           <div class="item" @click="blackoutButton('um-hackerphone:nuicallback:blackout')">
                              <div class="itemname">
                                 <h3 v-if="!hackblackout"><i class="fa-solid fa-tower-cell"></i> {{lang.hackpower}} </h3>
                                 <h3 v-else><i class="fa-solid fa-hammer"></i> {{lang.fixpower}} {{timer}}</h3>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div v-show="cambool">
                        <div class="list-item" v-if="campage" v-for="(value, key) in cams">
                           <div class="item" @click="postMessage('um-hackerphone:nuicallback:cam',key)">
                              <div class="itemname">
                                 <h3> <i class="fa-solid fa-video"></i> {{value}}</h3>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="button-menu button-menu1" @click="togglelock = !togglelock"></div>
               <div class="menu" @mouseover="playSound('button-hover')">
                  <div id="target" class="option" @click="postMessage('um-hackerphone:nuicallback:targetinformation')">
                     <i class="fa-solid fa-id-card-clip"></i>
                     <div class="text">{{lang.userinfo}}</div>
                  </div>
                  <div id="vehicletrack" class="option" @click="pageCheck('vbool','vpage',lang.vehicletrack, 'fa-hard-drive')">
                     <i class="fa-solid fa-location-crosshairs"></i>
                     <div class="text">{{lang.vehicletrack}}</div>
                  </div>
                  <div id="blackout" class="option" @click="pageCheck('cbool', 'cpage', lang.blackout, 'fa-microchip')">
                     <i class="fas fa-bolt"></i>
                     <div class="text">{{lang.blackout}}</div>
                  </div>
                  <div id="securitycams" class="option" @click="pageCheck('cambool', 'campage', lang.securitycams, 'fa-video')">
                     <i class="fa-solid fa-video"></i>
                     <div class="text">{{lang.securitycams}}</div>
                  </div>
                  <div id="botnet" class="option">
                     <i class="fa-solid fa-terminal"></i>
                     <div class="text">{{lang.botnet}}</div>
                  </div>
                  <div id="refresh" class="option">
                     <i class="fa-solid fa-arrow-rotate-right"></i>        
                     <div class="text">{{lang.refresh}}</div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="../config.js"></script>
      <script src="assets/js/app.js"></script>
   </body>
</html>